.columnDivs {
  border: 2px solid;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main {
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

.taskCardData {
  border: 2px solid;
  padding: 20px;
  background-color: black;
}
